@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.ttf') format('truetype');

         font-weight: 400;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
         url('../fonts/OpenSans-SemiBold.woff') format('woff'),
         url('../fonts/OpenSans-SemiBold.ttf') format('truetype');

         font-weight: 600;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'Segoe-UI-Regular';
    src: url('../fonts/Segoe-UI-Regular.woff2') format('woff2'),
         url('../fonts/Segoe-UI-Regular.woff') format('woff'),
         url('../fonts/Segoe-UI-Regular.ttf') format('truetype');

         font-weight: 400;
        font-style: normal;
        font-display: swap;
}